.header {
    
}

.part-one{
    padding: 25px;
    background-color: #ff4a25;
    color:#fff;
    font-size: 22px;
}

.part-two{
    padding: 25px;
    background-color: #ffffff;
    color: #ff4a25;
    text-align: right;
}