body {
}

.tags{
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.tags > div{
    font-size: 32px;
    padding: 10px;
    margin: 15px;
}

a{
    color: inherit;
}

.dc-label{
    color: #ff4a25;
}